<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website - About</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <header>
        <h1>SSH Hacker Strategies</h1>
    </header>
    </header>
    <nav>
        
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/tools">Tools</a>

    </nav>
    <div class="container">
    <!-- About Page Content -->
    <h2>About us: two nerds</h2>
    <div>
        <h3>Shemar</h3>
        <h3><img src="/static/Shemar.jpg" alt="Shemar's Cat" style="width:512px;height:512px;"></h3>
        <p>co-founder, programmer, totally a cat person.</p>
    </div>
    <div>
        <h3>Kai </h3>
        <h3> <img src="/static/Kai.jpg" alt="Kai's Cat" style="width:512px;height:512px;"> </h3>
        <p>co-founder, programmer, a man who keep 7 cat in his house.</p>
    </div>
</div>

</body>
</html>

