<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website - Tools</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <header>
        <h1>SSH Hacker Strategies</h1>
    </header>
    </header>
  <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/tools">Tools</a>
    </nav>
    <div class="container">
        <!-- Tools Page Content -->
        <h2>Tools We Used</h2>
        <ul>
            <li>Bert:  </li>
            <p>(Bidirectional Encoder Representations from Transformers) is 
                an advanced natural language processing model developed by Google. 
                 It enables us train our model to analyze and understand text by considering the context of words in a sentence, making it suitable 
                 for the text classification our design requires</p>

            <li>Flask: </li>
            <p>is a lightweight Python web framework used to build web applications. We picked it for its simplicity and flexibility, 
                allowing us to create a web project that can be nimble and without bloat, since the main thing is Analyser. 
                With Flask, we can define routes, handle requests and responses and if more functionality is needed we can utilise extensions </p>

            <li>Attack Mitre: </li>
            <p> is a playbook for understanding and defending against cyberattacks. 
                It breaks down how attackers operate into tactics and techniques, helping organizations speak the same language about threats, 
                improve their defenses, and respond effectively when they're under attack. Hence why we picked it for our AI system, as with its coded style
                we can quickly analyse threats and respond with appropriate counter measures, which is the idea behind this AI system.</p>

            <li>Kmeans: </li>
            <p>from sklearn, clustering all the embedded payloads</p>
            
        </ul>
    </div>
</body>
</html>

